html {
    height: 100%;
    width: 100%;
}

body {
    background-color: black; 
    margin: 0; 
    padding: 0; 
    overflow: hidden;
    height: 100%;
    width: 100%;
}

#game-container {
    height: 100%;
    width: 100%;

    /* Container position other than static is required for canvas positioning to work */
    position: relative;
}

#game-canvas {
    background-color: white;
}

#sample-button {
    background-color: pink;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: auto;
    text-align: center;
    text-decoration: none;
    position: absolute;
    z-index: 1;
    border-width: 1px;
    border-color: rgb(247, 245, 199)
}