
/* Ensures the document body logically fits the size of the screen */
html {
    height: 100%;
    width: 100%;
}

/* Also ensures the document body logically fits the size of the screen (no scrollbars either) */
body {
    background-color: black; 
    margin: 0; 
    padding: 0; 
    overflow: hidden;
    height: 100%;
    width: 100%;
}

/* Styling for the div containing the game */
#game-container {

    /* The container fits the entire screen */
    height: 100%;
    width: 100%;

    /* A container position other than static is required for canvas positioning (i.e. bottom center) to work */
    position: relative;
}

/* Styling for the game canvas */
#game-canvas {
    background-color: white;
}

/* Styling for the example of additional HTML content */
/* See template.js for how it is centered */
#sample-button {
    background-color: pink;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: auto;
    text-align: center;
    text-decoration: none;
    position: absolute;
    z-index: 1;
    border-width: 1px;
    border-color: rgb(247, 245, 199)
}